/* style.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa; /* Дуже світлий фон */
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #007bff; /* Синій колір, типовий для веб */
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

main {
    max-width: 800px;
    margin: 20px auto; /* Центрує вміст на сторінці */
    padding: 0 20px;
}

h1 {
    font-size: 2.2em;
}

h2 {
    color: #007bff;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
    margin-top: 30px;
}

.link-item {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    background-color: white;
}

.link-item h3 {
    margin-top: 0;
}

a {
    color: #28a745; 
    text-decoration: none; 
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 10px;
    margin-top: 40px;
    background-color: #e9ecef;
    color: #6c757d;
    border-top: 1px solid #dee2e6;
}